<div class="container">
  <h2>Your account</h2>
  <div class="tabbox box-show">
    <div class="form_group">
      <label>名前: </label>
      <%= @user.name %>
    </div>
    <div class="form_group">
      <label>Eメール: </label>
      <%= @user.email %>
    </div>
    <div class="form_group">
      <label>パスワード: </label>
      **********
    </div>
    <div class="link">
      <%= link_to("アカウント情報を編集", edit_user_registration_path, { class: "link" }) %><br/>
      <%= link_to("プロフィールを編集", edit_profile_path(current_user), { class: "link" }) %><br/>
      <%= link_to("プロフィール確認", profile_path(current_user), { class: "link" }) %>
    </div>
  </div>
</div>
